html {
    scroll-behavior: smooth;
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
}


header {
    background-color: rgb(255, 255, 255);
    height:auto;
    box-shadow: 0px 3px 10px #0000004a;
}

.logo {
    max-width: 300px;
}

.navbar ul {
    margin-bottom: 0em;
}
.navbar li {
    padding: 1.6em 2.5em;
    list-style-type: none;
    text-align: center;
    cursor:pointer;
    background-color: #68b158fc;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
}

.banner {
    height: auto;
    background-position: top center;
    background-position-y: bottom;
    background-size: cover;
    text-align: center;
}

.top-banner {
    background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 77%)), url(media/banner.jpg);
}



.banner-text h1,
.banner-text h2 {
    font-size: 3.5em;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    padding-top: 4em;
    padding-bottom: 2em;
}

.banner-text h1 strong,
.banner-text h2 strong {
    color: #6ed556fc;
}

.card-title > strong, 
.card-subtitle > strong {
    color: green;
}

.btn-rounded {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
}

.btn-arrow {
  margin-bottom: 4em;  
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #f8f9fa;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8f9fa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


  .btn-arrow:hover {
    color: #ffffff;
    background-color: #419f2bfc;
    border-color: #419f2bfc;
  }
  
  .btn-arrow:focus, .btn-arrow.focus {
    outline: none;
  }
  
  .btn-arrow.disabled, .btn-arrow:disabled {
    color: #212529;
    background-color: #f8f9fa;
  }

.btn-call-action{
    padding: 1rem 2rem;
    font-weight: 500;
    border: 4px solid #419f2bfc;
    font-size: 1.4rem;
    background-color: transparent;
    margin-bottom: 50px;  
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 4px solid #419f2bfc;
    font-size: 1.4rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  
.btn-arrow-green {
    display: inline-block;
    color: #fff;
    border: 1px solid #419f2bfc;
    background-color: #419f2bfc;
}
  
.btn-arrow-green:hover, .btn-call-action:hover {
    color: #ffffff;
    background-color: #419f2bfc;
}

.btn-arrow-green:hover {
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}
  

.about_us {
    height: auto;
    scroll-margin-top: 75px;
    margin: 10vh 0 2vh 0; 
}

.about_us_title {
    text-align: center;
    font-size:3.5em;
    font-weight: 400;
    display:block;
}

.about_us_title::after {
    content: "";
    display: block;
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 15%;
    margin: auto;
    padding-top: 5px;
    
}

.about_us_description {
    font-size: 1.8em;
    text-align: justify;
    font-weight: 300;
    padding-top: 3vh;
    margin-bottom: 8vh;
}

.about_us_photo {
    position: relative;
    top: -40px;
    height: auto;
    resize: both;
    max-width: 100%;
}

.accordion {
    margin-bottom: 3vh;
}


.evenements-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.822)), url(media/Greenspace_madrid.jpg);
    background-position: top center;
    background-position-y: center;
}

.evenements-banner .banner-text h2 {
    font-size: 3.5em;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    padding-top: 2em;
    padding-bottom: 1em;
}


footer {
    text-align: center;
    background-color: rgb(201, 201, 201);
}

footer .copyright {
    padding-top: 1.5em
}

footer .copyright p {
    font-size: 1.2em;
    font-weight: 500;
}

.evenements-page-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.822)), url(media/Greenpeace_nuclear.jpg);
    background-position: top center;
    background-position-y: center;
}

.prochains-evenements {
    padding: 5vh 0vh;
}

.prochains_evenements_container {
    scroll-margin-top: 75px;
}

.card-text {
    text-align: justify;
    padding-top: 1em;
}

.card-container {
    margin-bottom: 2em;
}


@media screen and (max-width: 960px) {

    .about_us_photo {
        display: none;
    }
    
}

@media screen and (max-width: 720px) {

    .banner-text h1,
    .banner-text h2,
    .evenements-banner .banner-text h2,
    .about_us_title {
        font-size: 2em;
    }

    .logo {
        max-width: 200px;
    }

    .navbar li {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 356px) {

    .banner-text h1,
    .banner-text h2 {
        font-size: 2em;
    }

    .logo {
        max-width: 160px;
    }
    
}